:root{
    /* Primarios */
    --Cyan:hsl(179, 62%, 43%);
    --Cyan2:rgb(50, 209, 206);
    --Yellow: hsl(52,100%,50%);
    --Purple: hsl(270, 100%, 50%);
    --Green: hsl(120, 100%, 50%);

    /* Neutral */
    --LightGray: hsl(204, 43%, 93%);
}
html {
    --s: 200px; /* control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;
    
    background:
      repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c3) 0 180deg) 
       calc(.5*var(--s)) calc(.5*var(--s)*0.577),
      repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 180deg);
    background-size: var(--s) calc(var(--s)*0.577);
  }
  
body{
    font-family: "Karla", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.contenedor{
    margin: 40px 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 15px black;
    border: 2px solid black;
}
.cabecera {
    background-color:black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 2px solid black;
    text-align: left;
}
.cabecera-left{
    display: flex;
    align-items: center;
    color:white;
    flex: 1;
    margin: 0;
    flex-wrap: nowrap;
} 
.cabecera-left img,
.cabecera-left h1{
    max-width: 100%; 
    height: auto; 
    margin-left: 10px;
}
.cabecera-right{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    flex: 1;
    text-align: right;
}
.cabecera-left,
.cabecera-right{
    width: auto;
}
.productos,
.inicia-sesión{
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 8px 0;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border: 2px solid black;
}
.productos{
    background-color:var(--LightGray);
    color: black;
}
.inicia-sesión{
    background-color: blue;
    color: white;
}

.imagen-perfil{
    background-color: var(--Purple);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    border: 2px solid black;
}
.imagen-perfil img{
    max-width: 100%;
    height: auto;
}

.contenedor-central{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,auto);
    gap: 10px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: black;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border: 2px solid black;
}
.box img{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.titulo-seccion{
    padding: 15px;
    background-color: var(--Yellow);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border: 2px solid black;
}
.conocenos{
    background-color:blue;
    color:white;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 4px 0;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border: 2px solid black;
}
.titulo-producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color:var(--Yellow);
    border: 2px solid black;
}
.monos-container img{
    margin-right: 60px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    background-color: red;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid black;
}
.image-container{
    margin-bottom: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    border: 2px solid black;
}
.image-container img{
    width:100%;
    height: auto;
}
.stars img{
    margin-right: 5px;
}

.workers-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: flew-start;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    background-color: var(--DarkGray);
}
.card {
    width: 300px;
    height: auto;
    margin-top: 20px;
    background-color: var(--LightGray);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border: 2px solid black;
    margin: 10px;
}
.card-header{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.autor{
    margin-left: 10px;
}
.card p{
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
}

.video-container{
    background-color:black;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border: 2px solid black;
}
.media-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}
.media-container img,
.media-container iframe{
    max-width: 100%;
    margin: 5px;
    box-sizing: border-box;
}
.goth{
    background-color:blue;
    color:white;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 8px 0;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border: 2px solid black;
}

.icons-container{
    background-color:var(--DarkGray);
    text-align: center;
}
.social-icons a{
    display: inline-block;
    padding: 10px 20px;
}

.final-container{
    background-color: var(--LightGray);
    text-align: center;
}
.perfil,
.time{
    text-align: center;
    color: black;
    padding: 15px;
}

.rated {
    display: block;
}

@media only screen and (max-width: 768px) {
    .rated{
        display: none;
    }
    .productos{
        display: none;
    }
    .contenedor{
        display: flex;
        flex-direction: column;
        margin: 40px 10px;
        border-radius: 10px;
        box-shadow: 3px 3px 15px gray;
        padding: 10px;
    }
    .media-container img,
    .media-container iframe {
        max-width: calc(40% - 5%);
    }
    .social-icons a{
        justify-content: space-between;
    }
    .contenedor-central{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .titulo-seccion{
        order: 1;
        text-align: center;
        margin-bottom: 20px;
    }
    .imagen-perfil{
        order: 2;
    }
    .titulo-producto{
        order: 3;
    }
    .footer{
        order: 4;
    }
    .cabecera {
        background-color:black;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border: 2px solid black;
    }
    .cabecera-left,
    .cabecera-right {
        width: 100%;
    }
}

